body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #1400cc;
    color: white;
    padding: 50px;
    text-align: center;
}

/* Secciones */
section {
    background-color: #6ccfd3;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h2 {
    color: #1400cc;
}

/* Redes Sociales */
.social-icons img {
    width: 24px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Botón Flotante */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
}

  button img {
    width: 50px;
    height: 50px;
    }

